.filter-ticket {
  // box-sizing: border-box;
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  margin-left: -4.4%;

  // background: #ffffff;
  // border: 0px;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // border-radius: 16px;
}
.filter-header {
  position: relative;

  margin-top: -60px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;

  // display: flex;
  // align-items: center;
  color: #1e0d03;
  text-align: center;
}
.filter-fromdate-label {
  position: absolute;
  width: 66px;
  height: 26px;
  left: 32px;
  top: 50px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1e0d03;

  opacity: 0.7;
}
.filter-fromdate-date {
  position: absolute;
  margin-top: -80px;
}
.filter-todate-label {
  position: absolute;
  width: 128px;
  height: 26px;
  left: 297px;
  top: 50px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1e0d03;

  opacity: 0.7;
}
.filter-todate-date {
  position: absolute;
  margin-top: -9px;
}
.filter-status-text {
  position: absolute;
  width: 159px;
  height: 26px;
  left: 32px;
  top: 130px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1e0d03;

  opacity: 0.8;
}
.filter-status {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: absolute;
  width: 573px;
  height: 24px;
  left: 32px;
  top: 160px;
}
.filter-checkin-gate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 100%;
  height: 24px;
  left: 32px;
  top: 230px;
}
.filter-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;
  background: #ffffff;
  font-weight: 600;
  color: #ff993c;
  position: absolute;
  width: 160px;
  height: 48px;
  left: 180px;
  bottom: 15px;

  border: 2px solid #ff993c;
  border-radius: 8px;
}
.filter-checkin-label {
  position: absolute;
  width: 131px;
  height: 26px;
  left: 32px;
  top: 200px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1e0d03;

  opacity: 0.8;
}
// .filter-button-holder {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   padding: 0px;
//   gap: 24px;

//   position: absolute;
//   width: 344px;
//   height: 48px;
//   left: 207px;
//   bottom: 32px;
// }

// .checkbox-gatetatca {
//   position: relative;
// }
.checkbox-gate1 {
  position: absolute;
  margin-left: 180px;
}
.checkbox-gate2 {
  position: absolute;
  margin-left: 370px;
}
.checkbox-gate3 {
  position: absolute;
  margin-left: 180px;
  margin-top: 100px;
}
.checkbox-gate4 {
  margin-left: 1px;
  margin-top: 100px;
  position: absolute;
}
.checkbox-gate5 {
  margin-left: 370px;
  margin-top: 100px;
  position: absolute;
}
.label-gatetatca {
  margin-left: 20px;
  position: absolute;
}
.label-gate1 {
  margin-left: 200px;
  position: absolute;
}
.label-gate2 {
  margin-left: 390px;
  position: absolute;
}
.label-gate3 {
  margin-left: 200px;
  position: absolute;
  margin-top: 102px;
}
.label-gate4 {
  margin-left: 20px;
  position: absolute;

  margin-top: 102px;
}
.label-gate5 {
  margin-left: 390px;
  position: absolute;
  margin-top: 102px;
}

.radio-tatca {
  margin-top: 10px;
}
.radio-chuasudung {
  margin-left: 50px;
  margin-top: 10px;
}
.radio-hethan {
  margin-left: 50px;
  margin-top: 10px;
}
.radio-dasudung {
  margin-left: 50px;
  margin-top: 10px;
}
.label-tatca {
  margin-left: 5px;
  margin-top: 6px;
}
.label-chuasudung {
  margin-left: 5px;
  margin-top: 6px;
}
.label-dasudung {
  margin-left: 5px;
  margin-top: 6px;
}
.label-hethan {
  margin-left: 5px;
  margin-top: 6px;
}

.filter-todate-date {
  margin-left: 295px;
  position: relative;
  top: 83px;
}
.filter-fromdate-date {
  margin-left: 30px;
  // margin-top: 10px;
  position: relative;
  top: 114px;
}
