.paginate {
  position: absolute;
  width: 228px;
  height: 20px;
  left: 50%;
  bottom: 5%;

  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ff993c;
}
.items-page {
  position: relative;
  width: 8px;
  height: 16px;
  right: 500%;
  top: -2px;
  margin: 6px;

  font-size: 14px;
  line-height: 17px;

  color: #1e0d03;
}
.items-page:hover {
  box-sizing: border-box;

  position: relative;
  width: 8px;
  height: 16px;
  right: 355%;
  top: -2px;
  padding: 0px 12px 15px 3px;

  border: 1px solid #ff993c;
  border-radius: 4px;
}
.items-page:focus {
  box-sizing: border-box;
  padding: 0px 12px 15px 3px;
  gap: 10px;

  position: relative;
  width: 8px;
  height: 16px;
  left: -40%;
  top: -2px;

  border: 1px solid #ff993c;
  border-radius: 4px;
}
.links-page {
  position: relative;
  width: 8px;
  height: 8px;
  top: -21.5px;
  left: 43%;
  color: black;
}
