.nav-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  margin-right: 32px;

  .search-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    background: #ede6e6;
    border-radius: 12px;
    position: relative;
    left: 30px;

    input {
      border: none;
      outline: none;
      background: none;
      width: 437px;
      height: 30px;

      font-family: "Montserrat";
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: #1e0d03;
    }
  }
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 144px;
    height: 48px;
    left: 1744px;
    top: 17px;
  }
}
